.hero {
  height: 100vh;
  width: 100%;
  position: relative;
  scroll-snap-align: start;
}

.hero .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1100px;
  margin: auto;
  padding: 1rem;
  align-items: flex-start;
}

.hero .content p:first-child {
  font-size: 2.7rem;
}

.hero .content p:nth-child(2) {
  font-style: italic;
  font-size: 2rem;
}

.hero .buttonContainer {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  max-width: 630px;
}

.hero .content button {
  margin: 1rem 0.5rem;
  width: 180px;
  height: 40px;
  background-image: var(--linear-color);
  transition: 0.5s;
  box-shadow: 0 0 20px #eee;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}

.hero .buttonContainer button:first-child {
  margin-left: 0;
}

.hero .content button:hover {
  color: #fff;
  cursor: pointer;
  transform: scale(1.1);
}

.hero button {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 940px) {

  .hero {
    height: auto;
    margin-top: 10rem;
  }
  .hero .content {
    align-items: center;
  }
  .hero .buttonContainer {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 2rem;
  }

  .hero .content button {
    width: 100%;
    max-width: 300px;
    height: 35px;
    margin: 1rem 0;
  }

  .hero .buttonContainer button:first-child {
    margin-left: 0;
    margin: 1rem 0; 
  }

  .hero .content p:first-child {
    font-size: 2rem;
  }

  .hero .content p:nth-child(2) {
    font-size: 1.2rem;
  }
}
