.projectPageContainer {
  /* margin: 20px; */
  padding: 0;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center; 
}

.projectContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 10px;
  grid-auto-flow: dense;
}

.galleryItem {
  width: 100%;
  height: 100%;
  position: relative;
}

.galleryItem .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.galleryItem .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.galleryItem:hover .image img {
  transform: scale(1.5);
}

//https://www.youtube.com/watch?v=gvPyJ0rc944 - to do animation with text on the pictures 19min

.w1 {
  grid-column: span 1;
}
.w2 {
  grid-column: span 2;
}
.w3 {
  grid-column: span 3;
}
.w4 {
  grid-column: span 4;
}
.w5 {
  grid-column: span 5;
}
.w6 {
  grid-column: span 6;
}
//If I want to add more and change the hight
.h1 {
  grid-row: span 1;
}
.h2 {
  grid-row: span 2;
}
.h3 {
  grid-row: span 3;
}
.h4 {
  grid-row: span 4;
}
.h5 {
  grid-row: span 5;
}
.h6 {
  grid-row: span 6;
}

@media screen and (max-width: 940px) {
  .projectContainer {
    grid-template-columns: 1fr;
  }
  .w1,
  .w2,
  .w3,
  .w4,
  .w5,
  .w6 {
    grid-column: span 1;
  }
}
