.scroll-buttons {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.scroll-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 40px;
  transition: transform 0.2s ease-in-out;
}

.scroll-button:hover {
  transform: scale(1.5);
}
